.canvas-wrap {
    display: flex;
    overflow: hidden;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: rgb(200,200,200);
}

.dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer {
    display: flex !important;
    justify-content: center !important;
}

.canvas-display {
    width: 100%;
    display: flex;
    justify-content: center;
    /* position: relative; */
    background-color: rgb(200,200,200);
}

.canvas-display-inner {
    display: flex;
    /* position: absolute; */
    /* overflow: scroll; */
    /* height: 100%; */
    align-items: center;
    justify-content: center;
    background-color: rgb(200,200,200);
}

.canvas-main {
    border: 1px solid black;
}

.shape-step {
    height: 70px !important;
}
.step-card {
    width: 100% !important;
    height: 100% !important;
}
.shape-option {
    width: 240px !important;
    height: 150px !important;
    border: 2px solid black;
    margin: 5px 10px !important;
}
.shape-option .shape-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
