* {
    font-family: sans-serif;
}
.dark-1 {
    background-color: rgb(21, 20, 19) !important;
    border: 0 !important;
}

.font-color {
    color: rgb(176, 176, 169) !important;
}

/** Home page **/
.homepage {
    background-color: rgb(200,200,200);
}
.homepage-body {
    width: 100%;
    display: flex;
    height: calc(100vh - 100px);
    justify-content: center;
}

.canvaslist-section {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgb(100,100,100);
    height: fit-content;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
}
.canvaslist-header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas-list-wrap {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    height: calc(100vh - 200px);
    overflow-y: scroll;
    width: 100%;
    justify-content: center;
    /* padding: 10px; */
}

.canvas-item-wrap {
    display: flex;
    justify-content: center;
}


.homepage-footer {
    height: 50px;
    background-color: #1b1c1d;
}

/** Navbar **/
.navbar-main {
    background-color: rgb(21, 20, 19) !important;
}
.navbar-logo { 
    width: 50px;
    height: 40px;
}
.navbar-logo-icon {
    height: 40px;
    width: 40px;
}

.navbar-link {
    height: 100%;
    color: 'white'
}
.navbar-text {
    color: rgb(176, 176, 169);
    font-family: sans-serif;
}

.checkbox label {
    margin: 0;
}


/** Login page **/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-page-form {
    width: 50%;
    height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.login-page-main {
    width: 100vw;
    height: 100vh;
    background-color: rgb(214, 214, 211);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page-wrap {
    width: 350px;
    z-index: 2;
}
.login-page-header {
    margin-bottom: 25px;
}
.login-page-error {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 7px;
    background-color: rgb(245, 158, 158);
    border-radius: 3px;
    margin-bottom: 10px;
}
.login-page-button-wrap {
    display: flex;
    justify-content: space-evenly;
}
.login-page-title {
    position: absolute;
    top: 30px;
    left: 80px;
}
.button-link, .button-link:hover {
    text-decoration: none;
    color: inherit;
}
.login-page-logo {
    position: absolute;
    width: 80px;
    height: 80px;
}
.login-page-logo-container {
    margin-bottom: 50px;
    width: 250px;
    height: 100px;
    position:relative;
}
.button {
    background-color: rgb(50,50,50);
    border: none;
}