.rec.rec-dot {
    width: 7px !important;
    height: 7px !important;
    border-radius: 50% !important;
    margin: 10px !important;
    box-shadow: 0 0 0 0 rgb(200,200,200) !important;
    border: 0px !important;
    background-color: rgb(200,200,200) !important;
}
.rec.rec-dot:focus {
    width: 7px !important;
    height: 7px !important;
    border-radius: 50% !important;
    margin: 10px !important;
    box-shadow: 0 0 0 0 rgb(100,100,100) !important;
    border: 0px !important;
    background-color: rgb(100,100,100) !important;
}
.rec.rec-dot_active {
    width: 7px !important;
    height: 7px !important;
    border-radius: 50% !important;
    box-shadow: 0 0 0 0 rgb(100,100,100) !important;
    margin: 10px !important;
    border: 0px !important;
    background-color: rgb(100,100,100) !important;
}

.rec.rec-pagination {
    margin: 0 !important;
}

.rec.rec-carousel-wrapper {
    height: 50% !important;
}

.rec.rec-item-wrapper div {
    outline: 0 !important;
    cursor: pointer;
}

.shape-accordian-option {
    border: 1px solid rgba(200,200,200,.5) !important;
    padding: 10px !important;
}

.size-item {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-bottom: 0 !important;
}

.tab-pane-wrap {
    width: 100%;
    padding-bottom: 10px;
    padding-left: 8px;
    display: flex !important;
    overflow-y: scroll !important;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden !important;
}

.tab-pane-accordian {
    display: flex;
    justify-content: center;
}




.scrollbar::-webkit-scrollbar {
    width: 6px;
  }
   
  .scrollbar::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
     background-color: white;
  }
   
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(219, 219, 219);
    /* outline: 1px solid slategrey; */
  }
.scrollbar-inverted::-webkit-scrollbar {
    width: 8px;
  }
   
  .scrollbar-inverted::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
     color: rgb(48, 48, 48);
  }
   
  .scrollbar-inverted::-webkit-scrollbar-thumb {
    background-color: rgb(57, 57, 57);
    /* outline: 1px solid slategrey; */
  }